<script id="address-partial" type="text/x-handlebars-template">
  {{#with address}}
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
              Street: {{street}}
          </li>
          <li class="list-group-item">
              Suite: {{suite}}
          </li>
          <li class="list-group-item">
              City: {{city}}
          </li>
          <li class="list-group-item">
              Zipcode: {{zipcode}}
          </li>
        </ul>
  {{/with}}
</script>