<script id="handlebars-template" type="text/x-handlebars-template">
    <section class="row">
      {{#each Users}}

        <div class="card text-center m-1 container" style="width: 18rem;">

          {{#if image}}
            <img src="{{image}}" class="card-img-top" alt="{{name}}" title="{{name}}">
          {{else}}
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/600px-No_image_available.svg.png" class="card-img-top" alt="{{name}}" title="{{name}}">
          {{/if}}

          <div class="card-body">
              <h5 class="card-title">{{name}}</h5>

              {{#if email}}
                <p class="card-text">
                  email: {{email}}
                </p>
              {{else if username}}
                <p class="card-text">
                  username: {{username}}
                </p>
              {{else}}
                <p class="card-text">
                  No information!
                </p>
              {{/if}}

              
              {{> AddressPartial}}


              <a href="#" class="btn btn-primary actions">
                  Actions
              </a>
              <a href="details.html?id={{@index}}" class="btn btn-primary">
                Details: {{id}}
              </a>
          </div>
        </div>

      {{/each}}
    </section>
  </script>